{% extends "baselayout.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>Meilleure agence du monde</h1>

    <p></p>
    <p class="text-center"><a href="index.php/circuit" class="blink_me">Voir nos offres</a></p>
    <p>{%block emoticon%}<img src="images/emoji.png" height="50" width="50">{% endblock %}Le quatrième va vous étonner
        {{ block('emoticon') }}   </p>
{% endblock %} {# body #}
