{% extends "baselayout.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>Meilleure agence du monde</h1>

    <p></p>
    <p class="text-center"><a href="index.php/circuit" class="blink_me">Voir nos offres</a></p>
    <p><img src="images/emoji.png" height="50" width="50">Le quatrième va vous étonner <img src="images/emoji.png" height="50" width="50"></p>
{% endblock %} {# body #}