{% extends "baselayout.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>Meilleure agence du monde</h1>

    <p></p>
    <p class="text-center"><a href="index.php/circuit" class="blink_me">Voir nos offres</a></p>
    <p><img src="images/emoji.png" height="50" width="50">Le quatrième va vous étonner <img src="images/emoji.png" height="50" width="50"></p>
{% endblock %} {# body #}
//Haut, haut, bas, bas, gauche, droite, gauche, droite, B, A
var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
n = 0;
$(document).keydown(function (e) {
    if (e.keyCode === k[n++]) {
        if (n === k.length) {
            window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
            n = 0;
            return false;
        }
    }
    else {
        n = 0;
    }
});